body {
  color: black; background-color: white;
  font-size: 115%;
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
/*  font-size: 0.91em; */
  float: left; width: 15em;
  margin: 0.0em 0; padding: 0.25em;
  background-color: white;
/*  border: 1px dashed silver; */
}

#main {
  margin: 0; padding: 0 0.5em 0.1em 0.5em;
  margin-left: 16em;
/*  border: 1px dashed silver; */
  background-color: #FFFD9C;
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}

#main-head {
 background-color: #D6D583;
 margin: -0.0em -0.5em -0.25em -0.5em; padding: 0.5em 0.5em 0.25em 0.5em;
}

ul.nav {
	margin: 0; padding: 0 1em;
}
ul.nav li {
	list-style: none;
    	margin: 0; padding: 0;
}

h1 {
  font-size: 160%;
}
h2 {
  font-size: 120%;
}

dt {
  font-weight: bold;
}

em {
  color: blue;
}
