A.main_pane:link {font-family:Arial, Helvetica, sans-serif ; color:#0000FF; font-size:16px; font-weight:regular; text-decoration:underline;}
A.main_pane:visited {font-family:Arial, Helvetica, sans-serif ; color:#800080; font-size:16px; font-weight:regular; text-decoration:underline;}
A.main_pane:hover{font-family:Arial, Helvetica, sans-serif ; color:#FF0000; font-size:16px; font-weight:regular;text-decoration:underline;}

A.main_content:link {font-family:Arial, Helvetica, sans-serif ; color:#0000FF; font-size:16px; font-weight:regular; text-decoration:underline;}
A.main_content:visited {font-family:Arial, Helvetica, sans-serif ; color:#0000FF; font-size:16px; font-weight:regular; text-decoration:underline;}
A.main_content:hover{font-family:Arial, Helvetica, sans-serif ; color:#FF0000; font-size:16px; font-weight:regular;text-decoration:underline;}

A.announce_pane:link {font-family:Arial, Helvetica, sans-serif ; color:#0000FF; font-size:16px; font-weight:bold; text-decoration:underline;}
A.announce_pane:visited {font-family:Arial, Helvetica, sans-serif ; color:#800080; font-size:16px; font-weight:bold; text-decoration:underline;}
A.announce_pane:hover{font-family:Arial, Helvetica, sans-serif ; color:#FF0000; font-size:16px; font-weight:bold;text-decoration:underline;}

A.side_pane:link {font-family:Arial, Helvetica, sans-serif ; color:#000080; font-size:18px; font-weight:bold; text-decoration:underline;}
A.side_pane:visited {font-family:Arial, Helvetica, sans-serif ; color:#390764; font-size:18px; font-weight:bold; text-decoration:underline;}
A.side_pane:hover{font-family:Arial, Helvetica, sans-serif ; color:#FFB926; font-size:18px; font-weight:bold;text-decoration:underline;}

A.side_pane_small:link {font-family:Times, sans-serif ; color:#000080; font-size:16px; font-weight:regular; text-decoration:underline;}
A.side_pane_small:visited {font-family:Times, sans-serif ; color:#390764; font-size:16px; font-weight:regular; text-decoration:underline;}
A.side_pane_small:hover{font-family:Times, sans-serif ; color:#FFB926; font-size:16px; font-weight:regular;text-decoration:underline;}

A.heading:link {font-family:Arial, Helvetica, sans-serif ; color:#000000; font-size:28px; font-weight:bold; text-decoration:underline;}
A.heading:visited {font-family:Arial, Helvetica, sans-serif ; color:#000000; font-size:28px; font-weight:bold; text-decoration:underline;}
A.heading:hover{font-family:Arial, Helvetica, sans-serif ; color:#000000; font-size:28px; font-weight:bold;text-decoration:underline;}

.small {font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:11px; font-weight:bold;}

.curr_page_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #390764;
}

.curr_page_link_small {
	font-family: Times, sans-serif;
	font-size: 16px;
	color: #390764;
}

.light_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

.light_text_emph {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: orange;	
}

.light_text_ital {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #FFFFFF;
}

.light_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #FFFFFF;
}

.light_heading_two {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}

.dark_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #000000;
}

.dark_heading_two {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
}

.dark_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}

.dark_text_emph {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: blue;	
}